#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 35    // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    zip_scroll_scaler: zip_scroll_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
        track-remainders;
    };
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <0>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <400>;
    acceleration-exponent = <1>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    macros {
        shift_MB3: shift_MB3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_press>,
                <&mkp MB3>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mkp MB3 &kp LEFT_SHIFT>;

            label = "SHIFT_MB3";
        };
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        Windows {
            bindings = <
&kp ESC     &kp N1        &kp N2        &kp N3            &kp N4     &kp N5    &kp UP_ARROW     &kp N6  &kp N7     &kp N8         &kp N9      &kp N0    &kp BACKSPACE
&kp TAB     &kp Q         &kp W         &kp E             &kp R      &kp T     &kp DOWN_ARROW   &kp Y   &kp U      &kp I          &kp O       &kp P     &kp BSLH
&kp CAPS    &kp A         &kp S         &kp D             &kp F      &kp G     &kp LEFT_ARROW   &kp H   &kp J      &kp K          &kp L       &kp SEMI  &kp APOS
&kp LSHFT   &kp Z         &kp X         &kp C             &kp V      &kp B     &kp RIGHT_ARROW  &kp N   &kp M      &kp COMMA      &kp DOT     &kp FSLH  &kp ENTER
&kp C_MUTE  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp SPACE  &mo 4     &none            &mo 2   &kp ENTER  &kp RIGHT_ALT  &kp DELETE  &to 1
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "Win";
        };

        Mac {
            display-name = "Mac";
            bindings = <
&kp ESC     &kp N1            &kp N2        &kp N3        &kp N4     &kp N5    &kp UP_ARROW     &kp N6  &kp N7     &kp N8        &kp N9      &kp N0    &kp BACKSPACE
&kp TAB     &kp Q             &kp W         &kp E         &kp R      &kp T     &kp DOWN_ARROW   &kp Y   &kp U      &kp I         &kp O       &kp P     &kp BSLH
&kp CAPS    &kp A             &kp S         &kp D         &kp F      &kp G     &kp LEFT_ARROW   &kp H   &kp J      &kp K         &kp L       &kp SEMI  &kp APOS
&kp LSHFT   &kp Z             &kp X         &kp C         &kp V      &kp B     &kp RIGHT_ARROW  &kp N   &kp M      &kp COMMA     &kp DOT     &kp FSLH  &kp ENTER
&kp C_MUTE  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE  &mo 4     &none            &mo 3   &kp ENTER  &kp CAPSLOCK  &kp DELETE  &to 0
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        Function-Win {
            label = "F-Win";
            display-name = "F-Win";
            bindings = <
&kp GRAVE   &kp F1           &kp F2          &kp F3           &kp F4           &kp F5             &msc SCRL_UP     &kp F6     &kp F7           &kp F8  &kp F9  &kp F10  &kp F11
&trans      &kp GRAVE        &mkp LCLK       &mkp MCLK        &mkp RCLK        &mkp MB4           &msc SCRL_DOWN   &kp PG_UP  &rgb_ug RGB_BRI  &trans  &trans  &kp INS  &kp F12
&trans      &kp TILDE        &trans          &trans           &trans           &mkp MB5           &msc SCRL_LEFT   &kp PG_DN  &rgb_ug RGB_BRD  &trans  &trans  &trans   &trans
&trans      &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI    &msc SCRL_RIGHT  &trans     &trans           &trans  &trans  &trans   &trans
&kp C_MUTE  &trans           &trans          &trans           &trans           &trans             &mkp LCLK        &trans     &trans           &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PLUS) LC(MINUS)>;
        };

        Function-Mac {
            display-name = "FKey";
            bindings = <
&kp GRAVE   &kp F1           &kp F2          &kp F3           &kp F4           &kp F5             &msc SCRL_UP     &kp F6     &kp F7           &kp F8  &kp F9  &kp F10  &kp F11
&trans      &kp GRAVE        &mkp LCLK       &mkp MCLK        &mkp RCLK        &mkp MB4           &msc SCRL_DOWN   &kp PG_UP  &rgb_ug RGB_BRI  &trans  &trans  &kp INS  &kp F12
&trans      &kp TILDE        &trans          &trans           &trans           &mkp MB5           &msc SCRL_LEFT   &kp PG_DN  &rgb_ug RGB_BRD  &trans  &trans  &trans   &trans
&trans      &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI    &msc SCRL_RIGHT  &trans     &trans           &trans  &trans  &trans   &trans
&kp C_MUTE  &trans           &trans          &trans           &trans           &trans             &mkp LCLK        &trans     &trans           &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp LG(PLUS) LG(MINUS)>;
            label = "F-Mac";
        };

        Config {
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &kp C_RW  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp MINUS         &kp EQUAL          &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans    &trans            &trans      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans    &trans            &trans      &trans            &trans             &trans
&trans     &trans        &trans          &trans        &trans        &trans          &mmv MOVE_RIGHT  &trans    &trans            &trans      &trans            &trans             &trans
&trans     &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans    &trans            &trans      &trans            &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "Conf";
        };
    };
};
